<div class="comment col-xs-12">
  <div class="col-xs-2">
    <%= image_tag @comment.user.avatar.url, class: "comment-author-avatar center-block" %>
  </div>
  <div class="col-xs-10">
    <p>Posted by: <%= link_to @comment.user.name %>, <%= comment.created_at.strftime("%d %b %H:%M") %></p>
    <p class="well comment-content"><%= @comment.content %></p>
  </div>
</div>